# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# local python env
.venv/
venv/
__pycache__/
**/__pycache__/
*.py[cod]

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# caches and reports
.eslintcache
coverage/
.nyc_output/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

# macOS
.DS_Store
**/.DS_Store
*.pem

# editor files
.vscode/
.idea/

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
